#article-masthead, #article-masthead a {
	font-weight: bold;
	font-size: 32pt;
	color: #adadad;
	font-family: "Alegreya", serif;
}

#article-title {
	margin-top: 0pt;
	font-weight: bold;
	font-size: 32pt;	
}

.article-authors {
	margin-bottom: 8pt;
	font-size: 12pt;	
}

.article-text {
	border-top: 6pt solid black;
	padding-top: 24pt;
	text-align: justify;

	line-height: 19pt;
}

.article-tag {
	color: #c0c2c1;
}

.issue-article-list-item-author {
	font-style: italic;
}

.issue-article-list, ul.call-to-action {
	margin: 0pt;
	padding: 0pt;
}

/* -------------------------- */
.article-summary p, .article-summary {
	font-weight: normal;
	font-size: 13pt;
	font-family: 'Source Sans pro', sans-serif;	
}

.article-tag {
	color: #c0c2c1;
}

/* ------------------------------------------------------------- */

.sidebar {
	float: right;
	width: 200pt;
	padding: 12pt;
	margin-left: 14pt;

	line-height: 15pt;

	background-color: #EDEDED;
}

.sidebar, .sidebar li, .sidebar p, .sidebar ul {
	font-size: 11pt;
}

.sidebar h1 {
	font-size: 14pt;
	margin-top: 0pt;
}


p code, li code {
	font-family: Georgia, serif;
	font-size: 12pt;
	background: none;
	font-variant: small-caps;
	margin: 0pt;
	padding: 0pt;
	color: black;
}

div.floatquote {
	float: right;
	width: 120pt;
	color: #c13f35;
	text-align: center;
	padding: 6pt;
	margin: 6pt;
}

/* --------------------------------------------------------------*/

.red {
	color: #c13f35;
}
.green {
	color: #237238;
}
.blue {
	color: #155985;
}
.gray {
	color: #4b4b4b;
}
.orange {
	color: #F1610D;
}
.violet {
	color: #A51C52;
}
.maroon {
	color: #53171b;
}
.missingColor {
	color: #abb9d1;
}

/* ------------------------------------------------------------- */

.article-bottom-print a {
	font-weight: bold;
	color: black;
}

/* ------------------------------------------------------------- */
.sample {
	margin-left: 18pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	line-height: 1.2;
}

.article-text-green .sample {
	color: #237238;
}