@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Alegreya.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Alegreya-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', serif;
}

.container p, .container li {
    font-size: 13pt;
}

h1.drakkar-masthead a {
    color: black;
}

div.drakkar-masthead-secondary, div.drakkar-masthead-secondary a {
    color: #ADADAD;
    font-weight: bold;
    font-size: 32pt;
    color: #ADADAD;
    font-family: "Alegreya",serif;
}

.jumbotron h1 {
    margin-top: -6pt;
}