.issue-box {
	border-left: solid 18pt #c13f35;
	margin-bottom: 18pt;
}

.issue-box.red {
	border-left: solid 18pt #c13f35;
}

.issue-box.green {
	border-left: solid 18pt #237238;
}

.issue-box.blue {
	border-left: solid 18pt #155985;
}

.issue-box.gray {
	border-left: solid 18pt #4b4b4b;
}

.issue-box.missingColor {
	border-left: solid 18pt #abb9d1;
}

/*--------------------*/

.container .jumbotron {
    background: white none repeat scroll 0 0;
    margin-left: -15px;
    padding-left: 0;
}

.container .jumbotron h1, .container .jumbotron h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container .jumbotron h1 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 5em;
}

.container .jumbotron h2 {
    color: #c0c0be;
    margin-top: 0;
}

.article-title a {
    color: #6a6a6a;
    text-decoration: none;
}

.issue-number {
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
}

.article-title {
	color: blue;
}

@media screen and (min-width: 768px) {
	.issue-box {
		min-height: 15em;
	}
}

@media screen and (min-width: 992px) {
	.issue-box {
		min-height: 17.5em;
	}
}
